{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h3>Lista de Atividades registradas</h3>


<hr>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Descrição</th>
                <th>Pontuação</th>
                <th>Detalhe</th>
                <th>Pessoa</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>
            {% for atividade in object_list %}
            <tr>
                <td>{{ atividade.nome }}</td>
                <td>{{ atividade.cpf }}</td>
                <td>{{ atividade.descricao }}</td>
                <td>{{ atividade.pontos }}</td>
                <td>{{ atividade.detalhes }}</td>
                <td>{{ atividade.usuario }}</td>
                <td>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhuma atividade registrado.</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}

{% block scrips %}

<script>

    $(document).ready(function(){

        alert("Importação ok!");

    });

</script>

{% endblock %}
