
<!DOCTYPE html>

{% load static %}

<html lang="pt-br" >
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content="width-device-width, initial-scale=1.0">
        <title>Página Inicial</title>

        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        <h3>Bem vindo ao módulo paginas</h3>

        <img src="{% static 'img/logo.png'%}" width='200' alt=''>
    </body>
</html>
