{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block menu %}
{% endblock %}

{% block conteudo %}

<div class='col-md-8 mx-auto'>

    <h3>Inscrição</h3>

    <p class='lead'>

        Preencha todos os campos obrigatórios.

    </p>

    <hr>

    <form action='' method='POST'> {% csrf_token %}

        {{ form|crispy }}

        <button type='submit' class='btn btn-primary mt-3'>Inscrever</button>

    </form>

</div>


{% endblock %}

{% block rodape-links %}
{% endblock %}
