{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class='h-100'>

    <head>
        <meta charset="utf-8">
        <meta name='viewport' content ='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <meta name="description" content="">
        <meta name="author" content="Rafael H. D. Zottesso">

        {% block titulo %}
        <title>:: ECMK ::</title>
        {% endblock %}

        <!-- Ícone do favicon -->
    <link href="{% static 'img/logo.png' %}" rel="shortcut icon" type="image/x-icon" />


    <!-- Importação do Bootstrap 4 e do Font awesome -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- CSS adicional -->
    <link href="{% static 'css/ifpr.css' %}" rel="stylesheet">

    <!-- Importação do Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css" />

    <!-- Ícone na barra de abas -->
    <!-- <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"> -->

    <!-- Bloco destinado aos estilos para cada página -->
    {% block styles %}

    {% endblock %}

    </head>
    <body class='d-flex flex-column h-100'>
        <main role='main' class='flex-shrink-0'>

        {% block logo %}
         <div class="container-fluid bg-white  mx-auto col-md-2 mx-auto">
            <div class="container border-bottom border-light p-3 ">
                <img src="{% static 'img/logo.png' %}" alt="" style="max-height: 150px;" class="img-fluid">
            </div>

        </div>

        {% endblock %}

        <!-- Bloco com o menu principal -->
        {% block menu %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-ifpr font-115 shadow">

            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" height="40" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Início
                            </a>
                            {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    Cadastros
                                </a>
                                <div class="dropdown-menu" aria-labelledby='navbarDropdownMenuLink'>
                                    <a class='dropdown-item' href='#'>
                                        Participantes
                                    </a>
                                    <a class='dropdown-item' href='#'>
                                        Oficineiras
                                    </a>
                                    <a class='dropdown-item' href='#'>Coordenacao</a>
                                </div>

                            </li>
                            {% endif %}

                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                Sobre
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                Ajuda
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">

                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <span id="username">{{ request.user }}</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Meus dados</a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Alterar senha</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Sair</a>
                            </div>
                        </li>

                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Login
                            </a>
                        </li>
                        {% endif %}

                    </ul>


                </div>

                <!-- fim do container -->
            </div>
        </nav>

        {% endblock %}

        <!-- Bloco de conteúdo -->
        <div class="container py-5">
            {% block conteudo %}
            <h3>Página inicial</h3>
            {% endblock %}
        </div>

        </main>

        <footer class="mt-auto">

        <!-- Bloco acima do rodapé com links -->
        {% block rodape-links %}
        <div class="container-fluid bg-ifpr text-white p-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h5>O Município</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Link 1</a></li>
                            <li><a href="#" class="text-white">Link 2</a></li>
                            <li><a href="#" class="text-white">Link 3</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h5>Serviços</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Link 1</a></li>
                            <li><a href="#" class="text-white">Link 2</a></li>
                            <li><a href="#" class="text-white">Link 3</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h5>Acesso rápido</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Link 1</a></li>
                            <li><a href="#" class="text-white">Link 2</a></li>
                            <li><a href="#" class="text-white">Link 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}


        <!-- Rodapé -->
        {% block rodape %}
        <div class="container-fluid bg-light text-center p-3">
            <div class="row">
                <div class="col-md-4 mx-auto text-center">
                    <img src="{% static 'img/logo.png' %}" height="48" class="float-left" alt="">
                    <p>
                        <span class="lead">Espaço Cultural Monte Kemel</span><br>
                        <span>Desenvolvido por ECMK-teC </span>
                    </p>
                </div>
                <!-- <div class="col-md text-left">
                    <img src="{% static 'img/ifpr.png' %}" height="100" alt="">
                </div> -->


            </div>
            {% endblock %}

    </footer>

    <!-- Importação do JS -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

        <!-- Bloco destinado aos scripts para cada página -->
        {% block scripts %}

        {% endblock %}

    </body>
</html>
