{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block menu %}
{% endblock %}

{% block conteudo %}

<div class='col-md-8 mx-auto'>


    <h3>A sua inscriação foi realizada com exito!</h3>

    <p class='lead'>

        Pronto!
        Agora basta comparecer no mesmo bat horário e no mesmo bat lugar da
        oficina que você escolheu!

    </p>

    <hr>

  </div>


{% endblock %}

{% block rodape-links %}
{% endblock %}
