{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

    <h3>Sobre o projeto</h3>

    <p class='lead'>sistema para gerenciamento da documentação comprobatória da progressão funcional.</p>

    <p>
        Em breve mais detalhes.
    </p>
{% endblock %}

<!-- ou retirar...-->
{% block rodape-links %}

{% endblock %}
